// Colors
$white: #fff;
$black: #000;
$darkestGrey: #373F3F;
$darkGrey: #4D5858;
$grey:  #6B6B6B;
$mediumGrey: #969595;
$lightGrey: #D5D1C5;
$lightestGrey: #F5F5F5;

$red: #F13445;
$blue: #39B0C6;
$yellow: #FDC43C;

$accent-color: $red;

// Font sizes
$body-font: 'Muli', sans-serif;
$heading-font: 'bebas_neueregular', sans-serif;
$base-fontSize: 2rem;
$h1-fontSize: 3rem;
$h2-fontSize: 4.8rem;
$h3-fontSize: 2.4rem;
$h4-fontSize: 2rem;
$h5-fontSize: 1.8rem;
$h6-fontSize: 1.6rem;

// Transitions
$base-transition: 0.2s ease-in-out;

//spaces
$base-spacing: 2rem;

//Breakpoints
$xsmall: 320px;
$small: 480px;
$medium: 768px;
$large: 960px;
$xlarge: 1220px;

//Width
$max-width: 1300px;
