<div class="clientSlider">
    <h2>WE ARE COMMITED TO OUR NETWORK OF CLIENTS</h2>
    <div class="swiper-container swiperClients">

        <div class="swiper-wrapper">
            {% for item in post.get_field('clients') %}
            <div class="swiper-slide">
                {% if item.link %}
                <a href="{{item.link}}" target="_blank">
                    {% endif %}
                    <img src="{{TimberImage(item.logo)}}" alt="">

                    {% if item.link %}
                </a>
                {% endif %}
            </div>

            {% endfor %}
        </div>
        {# <div class="swiper-nav">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div> #}
    </div>
    <a href="/clients" class="button">View All</a>
</div>