<section class="expertises">
    <h2 class="sectionTitle">Our areas of expertise</h2>
    <div class="expertisesAreas">
        {% for item in post.get_field('areas') %}
        <div class="area">
            <a href="{{item.link}}">
                <h3 class="areaTitle">{{item.title}}</h3>
                <div class="areaContent">{{item.content}}</div>
                <div class="arrow"><img src="{{theme.path}}/assets/images/arrow.png" alt=""></div>
            </a>
        </div>
        {% endfor %}
    </div>

</section>