<div class="projectSlider">
    <h2>Selected Projects</h2>
    <div class="swiper-container swiperProjects">

        <div class="swiper-wrapper">
            {% for item in post.get_field('projects') %}
            <div class="swiper-slide project-item">

                {% set img = TimberImage(item.image) %}
                <img src="{{img.src}}" alt="">
                <div class="overlay">
                    <a href="{{item.link}}">
                        <div class="project-title">{{item.title}}</div>
                        <div class="arrow"><img src="{{theme.path}}/assets/images/arrow.png" alt=""></div>
                    </a>

                </div>
            </div>

            {% endfor %}

            <div class="swiper-nav">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>