<div class="team">
    {% for item in team %}
    {% set member = TimberPost(item) %}
    <div class="teamMember">
        <a href="{{member.link | e('esc_url')}}">

            <div class="teamMember-picture">
                <img src="{{member.thumbnail| e('esc_url')}}" alt="picture of{{member.title}}">
            </div>
            <div class=" teamMember-body">
                <h3 class="teamMember-name">{{member.title}}</h3>
                <div class="
                teamMember-role">{{member.role | e('esc_html')}}</div>
                <div class="arrow"> <img src="{{theme_path}}/assets/images/arrow.png" alt=""></div>

            </div>
        </a>
        {#
        <pre>{{dump(item)}}</pre> #}


    </div>
    {% endfor %}
</div>