<div class="clients">
    {% for item in post.get_field('clients') %}
    <div class="client-item">
        {% if item.link%}
        <a href="{{item.link | e('esc_url')}}" target="_blank">
            {% endif %}
            {% set logo = TimberImage(item.logo) %}
            <img class="aligncenter" src="{{logo.src }}" alt="">
            {% if item.link%}
        </a>
        {% endif %}


    </div>

    {% endfor %}
</div>