<h2>Featured Posts</h2>
<div class="featuredPosts">
    {% for item in featureds %}
    {% set post = TimberPost(item) %}
    <div class="featuredPost" style="background:url({{post.thumbnail}}) left top/cover no-repeat">
        <div class="featuredPost-content">
            <div class="postDate">{{post.date}}</div>
            <h3>{{post.title}}</h3>

        </div>
        <div class="arrow"><img src="{{theme.path}}/assets/images/arrow.png" alt=""></div>
        <div class="postOverlay">
            <a href="{{post.link}}">
                <div class="postDate">{{post.date}}</div>
                <h3>{{post.title}}</h3>
                {{post.content | excerpt(30)}}
                <div class="arrow"><img src="{{theme.path}}/assets/images/arrow.png" alt=""></div>
            </a>

        </div>

    </div>

    {% endfor %}
</div>