<div class="hero">
    {% set title = post.hero_title ? post.hero_title : post.title %}
    <div class="heroContent">
        <h1 class="heroTitle">
            {{title}}
        </h1>
        {% if post.hero_text %}
        <div class="heroText">{{post.hero_text}}</div>
        {% endif %}
        {% set button = post.hero_button %}
        {% if button %}
        <a href="{{button['url']}}" class="button">{{button['title']}}</a>
        {% endif %}
    </div>


</div>

<style>
    .hero {
        background: url({{post.thumbnail}}) no-repeat;
        background-size: cover;
    }
</style>