<div class="memberImage">
    <img class="aligncenter" src="{{post.thumbnail.src}}" alt="picture for {{post.title}}">
</div>
<div class="memberBox">
    <h3>Education:</h3>
    <div class="memberBox-content">
        {{post.education}}
    </div>
</div>
<div class="memberBox">
    <h3>Areas of Research:</h3>
    <div class="memberBox-content">
        {{post.research}}
    </div>
</div>
<div class="memberBox">
    <h3>Recent Projects:</h3>
    <div class="memberBox-content">
        {{post.recent_projects}}
    </div>
</div>