<h1 class="memberName">{{post.title}}{% if post.team_title %},
    {{post.team_title}} {% endif %}</h1>
<div class="memberRole">{{post.role | e('esc_html')}}</div>
<div class="socialMedia">
    {% for item in post.get_field('member_social_media') %}
    {% set icon = TimberImage(item.icon) %}
    <a href="{{item.link}}"><img src="{{icon.src}}" alt=""></a>

    {% endfor %}
</div>
<div class="memberSubtitle">{{post.team_subtitle | e('esc_html')}}</div>
<div class="memberContent">{{post.content}}</div>