<div class="projectsLanding">
    <div>
        {% for item in post.get_field('projects_landing') %}
        <div class="project-entry">
            <div class="project-title">
                <h3>{{item.title}}</h3>
            </div>
            <div class="project-body">
                <div class="project-content">{{item.content | e('esc_html')}}</div>
                <a href="{{item.button['url'] | e('esc_url')}}" class="button">{{item.button['title'] | e('esc_html')}}</a>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
{% include '_clientSlider.twig' %}