<div class="projects">
    {% for item in post.get_field('projects') %}
    <div class="project-item">
        {% set img = TimberImage(item.image) %}
        <img src="{{img.src}}" alt="">
        <div class="overlay">
            <a href="{{item.link}}">
                <div class="project-title">{{item.title}}</div>
                <div class="project-content">{{item.content}}</div>
                <div class="arrow"><img src="{{theme.path}}/assets/images/arrow.png" alt=""></div>
            </a>

        </div>
    </div>
    {% endfor %}
</div>