.expertisesAreas{
    @include clearfix;
    @include center(1130px);
    margin-bottom: 50px;
    @include min-screen($large){
        margin-bottom: 150px;
    }
}
.area{
    position: relative;
    a{
        color: $white;
    }
    margin-bottom: 30px;
    @include min-screen($large){
        @include column(1/3);
        margin-bottom: 0;
    }
    &:first-child{
        background:$red;
    }
    &:last-child{
        background:$yellow;
    }
    background: $blue;
    padding:60px 40px 40px;
    @include min-screen($large){
        padding: 120px 35px 50px;
    }
    .arrow{
        position: absolute;
        right: 40px;
        bottom: 40px;
    }
}
.areaTitle{
    font-size: 4.8rem;
    line-height: 40px;
    @include min-screen($large){
        margin-bottom: 80px;
    }
}
.areaContent{
    font-size: 2.8rem;
    line-height: 1.2;
}