/* Avatar
--------------------------------------------- */

.avatar {
  border-radius: 50%;
  float: left;
}

.author-box .avatar,
.alignleft .avatar {
  margin-right: $base-spacing;
}

.alignright .avatar {
  margin-left: $base-spacing;
}

.comment .avatar {
  margin: 0 1.5rem $base-spacing 0;
}
