button,
input:focus,
input[type='button'],
input[type='reset'],
input[type='submit'],
textarea:focus,
.button,
.gallery img {
  transition: all $base-transition;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button {
  background-color: $blue;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 5px 25px;
  text-decoration: none;
  white-space: normal;
  width: auto;
  border-radius: 50px;
}

button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover,
.button:focus,
.button:hover {
  background-color: darken($blue, 10%);
  color: $white;
}

.entry-content .button:focus,
.entry-content .button:hover {
  color: $white;
}

.button {
  display: inline-block;
}

a.button.small,
button.small,
input[type='button'].small,
input[type='reset'].small,
input[type='submit'].small {
  padding: 0.8rem 1.6rem;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type='button']:disabled,
.site-container input[type='button']:disabled:hover,
.site-container input[type='reset']:disabled,
.site-container input[type='reset']:disabled:hover,
.site-container input[type='submit']:disabled,
.site-container input[type='submit']:disabled:hover {
  background-color: $lightGrey;
  border-width: 0;
  color: $mediumGrey;
  cursor: not-allowed;
}
