.clients{
@include clearfix;
@include min-screen($medium){
    margin-bottom: 400px;

}
}
.client-item{
    @include min-screen($small){
        @include column(1/2, $cycle: 2);
    }
    @include min-screen($medium){
        @include column(1/3, $cycle: 3, $gutter: 2);
    }
    .aligncenter{
        margin-bottom: 25px;
    }


}