/* Entry Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: $base-spacing * 2;
}

.comment-list li {
  padding: $base-spacing * 2 0 0 $base-spacing * 1.5;
}

.comment-list .depth-1 {
  padding-left: 0;
}

.comment-list .bypostauthor {
}

.comment-header {
  margin-bottom: $base-spacing * 1.5;
}

.comment-content {
  clear: both;
}

.comment-content ul > li {
  list-style-type: disc;
}

.comment-respond input[type='email'],
.comment-respond input[type='text'],
.comment-respond input[type='url'] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 1.2rem;
}

.comment-header p {
  margin-bottom: 0;
}

.entry-pings .reply {
  display: none;
}
