/* Featured Content
--------------------------------------------- */

.featured-content .entry {

}

.featured-content .entry:last-of-type {

}

.featured-content .entry-image {

}

.featured-content .entry-title {

}
