/* Forms
--------------------------------------------- */

input,
select,
textarea {
  background-color: $white;
  border: 1px solid $lightGrey;
  color: $darkGrey;
  font-size: $base-fontSize;
  font-weight: 400;
  padding: 1.5rem;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid $mediumGrey;
  outline: none;
}

input[type='checkbox'],
input[type='image'],
input[type='radio'] {
  width: auto;
}

::-moz-placeholder {
  color: $darkGrey;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $darkGrey;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button {
  display: none;
}
