.hero{
    display: flex;
    align-items: center;
    min-height: 48rem;
    .home &{
        min-height: 88.8rem;

    }
}
.heroTitle{
    @include min-screen($medium){
        font-size: 9.2rem;
        line-height: 86px;
    }
}
.heroText{
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 35px;
}
.heroContent{
    @include center(700px, $pad: 3rem);
    color: $white;
    padding-top: 100px;
    padding-bottom: 100px;

}
