.newsletter{
    background: $darkGrey;
    color: $white;
    text-align: center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 66px 3rem 56px;
    h2{
        font-size: 4.8rem;
    }
}