.page-template-projects-landing {
    .site-inner{
        display: none;
    }
    .entry{
        margin-bottom: 0;
    }
}
.projectsLanding{

    @include center(1100px, $pad: 3rem);
    @include min-screen($medium){
        margin-bottom: 116px;
        margin-top: 100px;
    }
    margin-top: 60px;
    margin-bottom: 60px;

    .project-entry{
        @include min-screen($medium){
            @include column(1/3, $cycle: 3);
        }
        @include max-screen($medium){
            margin-bottom: 60px;
        }

    }
    div{
        @include clearfix;
    }
}
.project-entry{

    .project-title{
        background:$red;
        color: $white;
        @include min-screen($large){
            padding: 53px 0  39px 85px ;
        }
        padding: 40px 30px;

        h3{
            font-size: 3.6rem;
            line-height: 34px;
            @include min-screen($large){
            font-size: 4.8rem;
            line-height: 44px;

            }
        }

    }
    &:first-child .project-title{
        background:$blue;
    }
    &:last-child .project-title{
        background:$yellow;
    }
}
.project-body{
    .project-content{
        font-size: 2rem;
        color: $black;
        line-height: 24px;
        padding: 33px 20px

    }
    .button{
       margin-left: 20px;
    }
}

/*-----------------------------------------------------------
Clients slider
/*------------------------------------------------------------*/
.clientSlider{
    padding-top: 66px;
    padding-bottom: 50px;
    margin-top: 120px;
    margin-bottom: 90px;
    background: #D5D1C5;
    text-align: center;
    h2{
        font-size: 4.2rem;
       padding-bottom: 42px;
    }
    .button{
       margin-top: 47px;
    }
}
.swiperClients{
    @include center(1230px, $pad: 3rem);
}


.swiper-button-prev{
    // background: $darkGrey url(../images/arrow.png) center center no-repeat;
    // width: 38px;
    // height: 34px;
    // left: 0;
    background: none;


}
.swiper-button-next{
    background: $darkGrey url(../images/arrow.png) center center no-repeat;
    width: 38px;
    height: 34px;
    right: 0;
    margin-left: 50px;
}