.projects{
    @include clearfix;
    margin: 60px 0;
    @include min-screen($medium){
        margin: 90px 0 200px;
    }

}
.project-item{
    position: relative;
    overflow: hidden;
    transition: all .4s ease-in-out;
    max-width: 400px;
    @include min-screen($medium){
        @include column(1/2, $cycle: 2);
    }
    @include min-screen($large){
        @include column(1/3, $cycle: 3);
    }

    .overlay{
        position: absolute;
        top: 0;
         bottom: 0;
         right: 200%;
        left: -100%;
        background: rgba($red, .9);
        .forecast-analyses-page &{
            background: rgba($yellow, .9);
        }
        .local-planning-page &{
            background: rgba($blue, .9);
        }
        padding: 50px 20px 30px;
        font-size: 1.8rem;
        @include min-screen($xlarge){
            padding: 100px 50px 40px;
        }
        a{
            color: $white;
        }
        // max-width: 400px;
        transition: all .4s ease-in-out;
        .arrow{
            position: absolute;
            right: 30px;
            bottom: 10px;

        }

    }
    margin: 0 auto 40px;
    &:hover{
        .overlay{
            right: 0;
            left: 0;
        }
    }
    .project-title{
        text-transform: uppercase;
        margin-bottom: 20px;
        line-height: 1.1;
    }
    .project-content{
        font-size: 2.2rem;
        line-height: 1.1;
    }
}