/* Tables
--------------------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: $base-spacing * 2;
  width: 100%;
  word-break: break-all;
}

tbody {
  border-bottom: 1px solid $lightGrey;
}

td,
th {
  text-align: left;
}

td {
  border-top: 1px solid $lightGrey;
  padding: 6px;
}

th {
  font-weight: 400;
  padding: 0 6px;
}

td:first-child,
th:first-child {
  padding-left: 0;
}
