.team{
    @include center(1100px, $pad: 3rem);
    @include min-screen($medium){
        margin-bottom: 150px;
    }
}
.teamMember{
    @include min-screen($medium){
        @include column (1/2, $cycle: 2);
    }
    @include min-screen($large){
        @include column (1/3, $cycle: 3);
    }
    margin-bottom: 30px;
}
.teamMember-body{
    background:$blue;
    color: $white;
    padding: 30px 48px;
    position: relative;
    .arrow{
        position: absolute;
        right: 20px;
        bottom: 22px;
    }
}
.teamMember-name{
    margin-bottom: 5px;
    font-size: 3rem;
    letter-spacing: 0.75px;
}
.teamMember-picture{
    img{
        width: 100%;
    }
}

/*-----------------------------------------------------------
Member Single
/*------------------------------------------------------------*/
.entry.team{
    margin-top: 65px;
    .entry-header{
        @include min-screen($large){
            @include column(3/10, $cycle: 2, $gutter: 5);
        }
        margin-bottom: 40px;
    }
    .entry-content{
        @include min-screen($large){
            @include column(7/10, $cycle: 2,  $gutter: 5);
        }

    }
    .memberName{
        margin-bottom: 0;
        font-size: 4.8rem;
    }
    .memberRole{
        font-style: 2.4rem;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .socialMedia{
        margin-bottom: 20px;
        a{
            margin-right: 15px;
        }
    }
    .memberSubtitle{
        color: $blue;
        font-size: 2.2rem;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}
.memberBox{
    background: $blue;
    color: $white;
    margin-top: 20px;
    padding: 24px 31px 38px;
    h3{
        margin-bottom: 0;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.75px;
    }
    .memberBox-content{
        font-size: 1.6rem;
        line-height: 24px;
    }
}