/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
  margin-bottom: $base-spacing * 2;
}

.widget p:last-child,
.widget ul > li:last-of-type {
  margin-bottom: 0;
}

.widget ul > li {
  margin-bottom: 1rem;
}

.widget ul > li:last-of-type {
  padding-bottom: 0;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: $base-spacing * 2;
  text-indent: -$base-spacing * 2;
}

.widget li li {
  border: 0;
  margin: 0 0 0 3rem;
  padding: 0;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}
