html {
  font-size: 62.5%; /* 10px browser default */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Chrome fix */
body > div {
  font-size: $base-fontSize;
}

body {
  background-color: $white;
  color: $darkGrey;
  font-family: $body-font;
  font-size: $base-fontSize;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
}
