a {
  color: $accent-color;
  text-decoration: none;
  transition: color $base-transition, background-color $base-transition;
}

a:focus,
a:hover {
  color: $darkGrey;
}

p {
  margin: 0 0 $base-spacing;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: $base-spacing 0;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

mark {
  background: $lightGrey;
  color: $darkGrey;
}

blockquote {
  margin: $base-spacing * 1.5;
}

blockquote::before {
  content: '\201C';
  display: block;
  font-size: 3rem;
  height: 0;
  left: -2rem;
  position: relative;
  top: -1rem;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
 {
  font-family: $heading-font;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: $h1-fontSize;
}

h2 {
  font-size: $h2-fontSize;
}

.entry-content h3,
.entry-content h4 {
  font-weight: 600;
}

h3 {
  font-size: $h3-fontSize;
}

h4 {
  font-size: $h4-fontSize;
}

.entry-content h4 {
  margin-top: $base-spacing * 2;
}

h5 {
  font-size: $h5-fontSize;
}

h6 {
  font-size: $h6-fontSize;
}
.sectionTitle{
  margin-bottom: 70px;
}

/* Titles
--------------------------------------------- */
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.entry-title {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.entry-title a,
.sidebar .widget-title a {
  color: $darkGrey;
  text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
  color: $accent-color;
}

.widget-title {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: $base-spacing;
}
