/* WordPress
--------------------------------------------- */

.aligncenter {
  text-align: center;
}

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
}

img.alignnone,
.alignnone {
  margin-bottom: 1.5rem;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 $base-spacing $base-spacing 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 $base-spacing $base-spacing;
}

.gallery-caption,
.wp-caption-text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 3rem;
}
