.after-entry .enews {
  text-align: center;
  padding: $base-spacing/2;
  @include min-screen($large) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.sidebar .enews {
  background-color: #f5f5f5;
  padding: $base-spacing * 1.5;
}

.enews-widget input {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: $base-spacing/2;
}

.after-entry .enews-widget input {
  text-align: center;
}

.enews-widget input[type='submit'] {
  margin: 0;
  width: 100%;
}

.enews form + p {
  margin-top: $base-spacing;
}
