.gs-faq__question {
  background: transparent;
  border-bottom: 1px solid $lightGrey;
  color: $darkGrey;
  padding-left: 0;
  padding-right: 0;
}

.gs-faq__question:focus,
.gs-faq__question:hover {
  background: transparent;
  color: $accent-color;
}

.gs-faq__question::after {
  content: '\f132';
  font-family: 'dashicons';
  float: right;
}

.gs-faq__question.gs-faq--expanded::after {
  content: '\f460';
}
