/* Content Area
---------------------------------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */

.entry {
  margin-bottom: $base-spacing;
}

.entry-content ol,
.entry-content ul {
  margin-bottom: $base-spacing * 1.5;
  margin-left: $base-spacing;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  background-color: $lightestGrey;
}

.entry-content .caption {
  font-size: 14px;
  font-weight: 600;
  margin-top: -$base-spacing;
  text-align: center;
}

.content .sticky {
  background-color: $lightestGrey;
  padding: $base-spacing * 1.5;
}

/* Entry Meta
  --------------------------------------------- */

p.entry-meta {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: $base-spacing;
}

.entry-footer .entry-meta {
  border-top: 1px solid $lightGrey;
  padding-top: $base-spacing;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: '\2014';
  margin: 0 6px 0 2px;
}

/*-----------------------------------------------------------
Single post
/*------------------------------------------------------------*/
.single-post{
  .entry-title{
    font-size: 4.8rem;
  }
  .entry-header{
    img{
      width: 100%;
      margin:20px 0 50px;
    }
  }
  .entry-meta{
    a{
      color:$darkGrey;
      &:hover{
        color: $red;
      }
    }
  }
}
/*-----------------------------------------------------------
RECENT POSTS
/*------------------------------------------------------------*/
.blog{
  h2{
    margin-bottom: 40px;
  }
}
.postCard{
  margin-bottom: 30px;
  img{
    width: 100%;
  }

  &:nth-child(-n + 2){

  }
  @include min-screen($medium){
    @include column(1/2, $cycle: 2, $gutter: 2.5);
  }

  @include min-screen($large){
    @include column(1/4, $cycle: 4, $gutter: 2.5);
  }
  .postContent{
    background: $yellow;
    color: $white;
    position: relative;
    padding: 25px 40px 20px;
    @include screen($large, $xlarge){
      padding: 10px;
    }
    h3{
      font-size: 3rem;
      letter-spacing:.85px;
      line-height: 1;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p{
      font-size: 1.8rem;
      line-height: 21px;
    }
    .arrow{
position: absolute;
right: 25px;
bottom: 25px;
    }
  }


}
.postDate{
  font-size:1.6rem;
}

/*-----------------------------------------------------------
Featured posts
/*------------------------------------------------------------*/
.featuredPost{
  min-height: 408px;
  overflow: hidden;
  transition: all .4s ease-in-out;
  position: relative;
  margin-bottom: 85px;
  padding: 40px 45px;
  @include min-screen($medium){
    @include column(1/2, $cycle: 2, $gutter: 2.5);
  }
  color: $white;
  &:hover{
    .postOverlay{
        right: 0;
        left: 0;
    }
}
.arrow{
  position: absolute;
  right: 40px;
  bottom: 45px;
}
}
.postOverlay{
  position: absolute;
        top: 0;
         bottom: 0;
         right: 200%;
        left: -100%;
        background: rgba($yellow, .9);
        transition: all .4s ease-in-out;
        padding: 40px;
        display: flex;
        align-items: center;
        a{
          color: $white;
        }

}
.featuredPost-content{
  position: absolute;
  left:45px;
  bottom: 40px;
}
