/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $darkGrey;
  color: $white;
  clear: both;
  font-size: 18px;
  font-size: 1.8rem;
  padding: $base-spacing * 3 0;
  a{
    color: $white;
  }
  .widget-title{
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  .featuredpost{
    .entry-title{
      font-size: 1.6rem;
      margin: 0;
    }
    .entry-time{
      font-size: 1.3rem;
    }
    .post{
      @include min-screen($medium){
      @include column(1/2, $cycle: 2);
      }

    }
    img{
      width: 63px;
      height: 63px;

    }
    .entry-header{
      @include column(3/4);
      margin-top: -6px;
    }
    a.alignleft{
      margin: 0;
      @include column(1/4);

    }
  }
  .enews{
    @include clearfix;
    input[type="email"]{
      height: 33px;
      // @include column(8/10);
    }
    input[type="submit"]{

      // @include column(2/10);
      background:$blue;

    }

  }
}

.footer-widgets .wrap {
 @include center($max-width, $pad: 3rem);
}

.footer-widget-area {
  margin-bottom: $base-spacing * 2;
  padding-left: $base-spacing * 1.5;
  padding-right: $base-spacing * 1.5;

  @include min-screen($large) {
    @include column(1/4, $cycle: 4);
  }
}
.footer-widgets-1{
  @include min-screen($large) {
    @include column(6/12);
  }
  .widget_text{
    margin-bottom: 15px;
  }
}
.footer-widgets-2{
  @include min-screen($large) {
    @include column(3/12);
  }
}
.footer-widgets-3{
  @include min-screen($large) {
    @include column(3/12);
  }
  font-size: 1.3rem;
  .contact{
    &.email{
      position: relative;
      margin-top: 20px;
      &:before{
        content:'';
        background: url(../images/email.png);
        position: absolute;
      }
    }
  }
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
  margin-bottom: 0;
}
.enews{
  font-size: 1.3rem;
}

/* Site Footer
  ---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: $darkestGrey;
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 2rem;
  text-align: center;
  color: $grey;
  a{
    color: $grey;
    &:hover{
      color: $blue;
    }
  }
  .menu{
    li{
      display: inline-block;
      margin-bottom: 0;
      padding: 0 10px;

    }
  }

  .wrap{
    @include center($max-width, $pad: 3rem);
  }
  .widget_nav_menu{
    margin-bottom: 0;
  }
}

.site-footer p {
  margin-bottom: 0;
}
.copyright{
  @include min-screen($medium){

    @include column(1/2);
    text-align: left;
  }
}
.footerMenu{
  @include min-screen($medium){
    @include column(1/2);
    text-align: right;
  }
}
