.site-header {
  background-color: $white;
  box-shadow: 0 0 $base-spacing rgba(0, 0, 0, 0.05);
  padding: 0 $base-spacing * 1.5;
}

/* Title Area
--------------------------------------------- */
.site-header {
  @include min-screen($large) {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  .wrap{
    @include min-screen($large){
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    .genesis-responsive-menu{
      float: right;
    }
    }
  }
}

.title-area {
  float: left;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  flex-basis: 20%;
}

.wp-custom-logo .title-area {
  max-width: 35rem;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

.site-title {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
  color: $darkGrey;
  text-decoration: none;
}

.site-description,
.wp-custom-logo .site-title {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
  clear: left;
  width: 100%;
  @include min-screen($large) {
    clear: none;
    float: right;
    width: auto;
    a {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
