/* Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.sidebar .widget {
  margin-bottom: $base-spacing * 2;
}

.sidebar p {
  margin-bottom: $base-spacing;
}
