/* Site Container
--------------------------------------------- */

.site-container {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  word-wrap: break-word;
}

/* Site Inner
  --------------------------------------------- */

.site-inner {
  clear: both;
  margin: 0 auto;
  padding: 3rem 3rem 0;

  @include min-screen($large) {
    @include center($max-width, $pad: 3rem);
    margin-top: 7rem;
  }
}

.full-width-content .content,
.landing-page .content {
  @include center($max-width);
}

@include min-screen($large) {
  .content {
    @include column(2.8/4, $gutter: 6);
  }
  .sidebar {
    @include column(1/4);
  }
  .sidebar-content {
    .content {
      @include move(1/4);
    }
    .sidebar {
      @include move(-2.8/4, $gutter: 6);
    }
  }
}
