/* Footer Menu
--------------------------------------------- */

.nav-secondary {
  margin-top: $base-spacing / 2;
}

.nav-secondary .genesis-nav-menu {
  line-height: 1.5;
}

.nav-secondary .menu-item {
  display: inline-block;
}

.nav-secondary a {
  margin-left: $base-spacing / 2;
  margin-right: $base-spacing / 2;
  padding: 0;
}
