/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
  clear: both;
  line-height: 1;
  width: 100%;
  @include min-screen($large) {
    & > .menu-bold > a {
      font-weight: bold;
    }
    > .menu-highlight > a {
      background-color: $darkGrey;
      border-radius: 3px;
      color: $white;
      font-weight: 600;
      margin-left: 1.5rem;
      padding-left: $base-spacing;
      padding-right: $base-spacing;
      &:hover,
      &:focus {
        background-color: $accent-color;
      }
    }
  }
}

.genesis-nav-menu .menu-item {
  display: block;
  float: none;
  position: relative;
  @include min-screen($large) {
    display: inline-block;
  }
}

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
  @include min-screen($large) {
    position: relative;
  }
}

.genesis-nav-menu a {
  color: $darkGrey;
  display: block;
  @include min-screen(1140px){
    font-size: 20px;
    font-size: 2rem;
  }
  font-size: 1.4rem;

  text-transform: uppercase;
  font-weight: 600;
  outline-offset: -1px;
  padding-bottom: 12px;
  padding-top: 1.2rem;
  text-decoration: none;
  border-bottom: 10px solid transparent;
  transition: all .4s ease-in-out;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  text-decoration: none;
  border-bottom: 10px solid $red;
}

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
  width: 100%;
}

.genesis-nav-menu .sub-menu {
  clear: both;
  display: none;
  left: -9999px;
  margin: 0;
  opacity: 1;
  padding-left: 1.5rem;
  position: static;
  z-index: 99;
  @include min-screen($large) {
    border-top: 1px solid #eee;
    opacity: 0;
    padding-left: 0;
    position: absolute;
    transition: opacity 0.4s ease-in-out;
    .sub-menu {
      margin: -46px 0 0 179px;
    }
  }
}

.genesis-nav-menu .sub-menu a {
  background-color: $white;
  font-size: 14px;
  font-size: 1.4rem;
  position: relative;
  word-wrap: break-word;
  @include min-screen($large) {
    border: 1px solid $lightGrey;
    border-top: 0;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
  position: relative;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}
