/* Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: $base-spacing * 3 0;

}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination li {
  display: inline;
}

.archive-pagination li a {
  background-color: $lightestGrey;
  color: $darkGrey;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a {
  background-color: $yellow;
  color: $white;
}
