/* Responsive Menu
--------------------------------------------- */

.menu .menu-item:focus {
  position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-responsive-menu {
  display: none;
  padding-bottom: 1.5rem;
  position: relative;
  @include min-screen($large) {
    display: block;
    padding-top: 1.5rem;
    .genesis-nav-menu.sub-menu,
    .genesis-nav-menu .sub-menu a {
      width: 180px;
    }
  }
}

.menu-toggle,
.sub-menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: $darkGrey;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible;
  @include min-screen($large) {
    display: none;
    visibility: hidden;
  }
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
  background-color: transparent;
  border-width: 0;
  color: $accent-color;
}

.menu-toggle {
  float: right;
  line-height: 2rem;
  margin-bottom: $base-spacing/2;
  margin-top: $base-spacing/2;
  padding: 1.5rem 0;
  position: relative;
  z-index: 1000;
}

.menu-toggle.activated::before {
  content: '\f335';
}

.site-header .menu-toggle::before {
  float: left;
  margin-right: 0.5rem;
  position: relative;
  text-rendering: auto;
  top: 1px;
}

.sub-menu-toggle {
  float: right;
  padding: 0.9rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.sub-menu .sub-menu-toggle {
  padding: 1.2rem 1rem;
}

.sub-menu-toggle::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: transform 0.25s ease-in-out;
}

.sub-menu-toggle.activated::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
